site_name: XLOFT Docs
site_description: "(XLOFT) X-Library of tools."
site_url: https://kebasyaty.github.io/xloft/
site_author: Gennady Kostyunin
copyright: Copyright &copy; 2025 Maintained by <a href="https://github.com/kebasyaty">Gennady Kostyunin</a>
repo_name: kebasyaty/xloft
repo_url: https://github.com/kebasyaty/xloft

theme:
  name: material
  language: en
  custom_dir: docs/overrides
  font:
    text: Roboto
  icon:
    repo: fontawesome/brands/github
  features:
    - search.suggest
    - search.highlight
    - search.share
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - toc.follow
  palette:
    scheme: slate
    primary: indigo
    accent: indigo

extra_css:
  - custom_style/github_indigo.css

plugins:
  - search
  - tags:
      tags_slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: google

markdown_extensions:
  - markdown.extensions.toc:
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower

extra:
  version:
    provider: mike
    default: latest
    alias: true
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/kebasyaty
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com

nav:
  - XLOFT: index.md
  - Installation: md_pages/installation.md
  - NamedTuple: md_pages/namedtuple.md
  - Human: md_pages/human.md
  - Quantum: md_pages/quantum.md
  - Errors: md_pages/errors.md
